<footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MyBlogs</h5>
                <p class="grey-text text-lighten-4">This is a demo website.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2024 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">MyBlogs Creation</a>
            </div>
          </div>
        </footer>
